@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');
@import "tailwindcss";

:root{
    --primary: #ffffff;
    --secondary: #ffffff6f;
    --width: 50vw;
    --font-instrument-serif: "Instrument Serif", serif;
    --card-bg: #1f1d1da5;
    --padding-x: 2.5rem;
}
body{   
    background: #000000cd;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
